.custom-heading{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4px;
    margin-top: 20%;
}

.custom-link{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
   
}
.shift-right{
    text-align: right !important;
    margin-top: 9%;
    margin-left: 100px;

}

.shift-leftin{
    text-align: right;
    
   

}
.separator{
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.total{
    text-align: right;
    width: 100%;
    margin-left: 0;
}

.total h4{
    display: inline-block;
    float: left;
    width: 70%;
    text-align: right;
}

.total h5{
    display: inline-block;
    float: right;
    width: 30%;
    text-align: right;
    font-size: 18px;
}
.total p{
    display: inline-block;
    float: right;
    width: 30%;
    text-align: right;
    color: #999;
    margin: 15px 0;
}
.checkout{
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
}
.custombutton
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: #121212;
    width: 120px;
    height: 50px;
    border-color: #121212 !important;
    color:white ;
}
.custombutton:active {
    background-color: #090909 !important;
    border-color: #000000 !important;
    color: white !important;
  
  }
  .custombutton:hover {
    background-color: #ffffff ;
    border-color: #000000 ;
    color: #121212;
  }
  

.top-distance{
    margin-top: 2%;
    font-weight: 300;
    font-size: 14px;

}




.customcontainer{
    margin-top: 50px;
    margin-bottom: 50px;


}

.flipping {
    width: 67.2px;
    height: 67.2px;
    animation: flipping-apv10omd 2s infinite linear;
 }
 
 .flipping::before {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    transform: perspective(168px) rotateX(0deg);
    transform-origin: bottom;
    animation: flipping-1vy4p0md 0.5s infinite linear alternate,
           flipping-mr9hp6md 0.5s infinite linear alternate;
 }
 
 @keyframes flipping-apv10omd {
    0%, 24.99% {
       transform: scale(1 , 1) rotate(0deg);
    }
 
    25%, 49.99% {
       transform: scale(1 ,-1) rotate(90deg);
    }
 
    50%, 74.99% {
       transform: scale(-1,-1) rotate(0deg);
    }
 
    75%, 100% {
       transform: scale(-1, 1) rotate(90deg);
    }
 }
 
 @keyframes flipping-1vy4p0md {
    100% {
       transform: perspective(168px) rotateX(180deg);
    }
 }
 
 @keyframes flipping-mr9hp6md {
    0%, 49.9% {
       background: #474bff;
    }
 
    50%, 100% {
       background: #ff6761;
    }
 }