.checkout-main .col{
    text-align: center;
}
.checkout-main img{
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.checkout-main .col:nth-child(1){
    border-right: 1px solid #ccc;
}

.checkout-form{
    text-align: left;
}

.custom-field{
    padding: 15px 10px; 
}

.custom-field:focus-visible,.custom-field:focus
{
 border-radius: 0 !important;

}

.custom-label{
    font-size: 28px;
    font-weight: 400;
    color: #333;
    margin-left: 5px;
    margin-bottom: 10px;
    display: block;
}

.custom-check{
    margin-top: 10px;
    font-size: 13px;
}

.custom-check .form-check-label{
    margin-left: 10px;
    margin-top: 4px;
}

.custom-check .form-check-input{
    width: 20px;
    height: 20px;
}

.custom-check .form-check-input:checked{
    background-color: #333;
    border-color: #333;
}


.customCol{
    margin-top: 10px;
    margin-bottom: 10px;

    border-width: 0!important;
}

/* Styling for the div of Shipping Method info */

.customship{
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
}
.customship h5{
    display: inline-block;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
}
.customship {
    .shipping-left{
        text-align: left;
        font-weight: 400;
    }
    .shipping-right{
        text-align: right;
    }
}
/* Styling for the div of Payment info */
.payment {
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    
}
.payment p{
    text-align: justify !important;
}
.cod {
    border-radius: 10px 10px 0 0;
}

.custom-text
{
    margin-left: 5px;
    font-weight: 350;
    font-size: 13px;
}

/* Styling for the button of Complete Order */

.custombutton {
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
}
.coupon-form{
    margin-left: 15%;
    width: 70%;
}
.coupon{
    width: 70%;
    float: left;
}
.apply-coupon{
    width: 20%;
    height: 100%;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
    margin-top: 90px;
}
.total{
    
    text-align: right;
    width: 70%;
    margin-left: 15%;
    ;
}

.total h5{
    display: inline-block;
    float: left !important;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}

.total h6{
    display: inline-block;
    float: right !important;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
    text-align: right;
}

.default-font{
    font-family: 'Montserrat', sans-serif;

}