.user-icon a::after{
    content: '';
    display: none;
}

.customNav .logo{
    width: 150px;
    height: 70px;
}
/* 
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */