.product-image{
    width: 10%;
    float: left;
    height: 100%;
}
.product-image img{
    width: 100%;
}
.product-info{
    width: 45%;
    float: left;
    height: 100%;
    margin-left: 15px;
}
.product-details{
    display: none;
}
.active{
    display: block;
}
.actions{
    width: 43%;
    float: left;
    height: 100%;
    text-align: right;
}
.product{
    width: 100%;
    padding: 15px 0;
}

.actions .custombutton {
    width: 38% !important;
    margin: 0 10px;
    float: right;
    margin-right: 0;
}